.footer {
    line-height: 1.5;

    .footer-link-divider::after {
        content: "|";
        color: $t-gray-400;
        margin: 0 $gl-spacing-3;
    }
}

// OneTrust button in footer

//sass-lint:disable no-important
#ot-sdk-btn.ot-sdk-show-settings,
#ot-sdk-btn.optanon-show-settings {
    background-color: inherit !important;
    color: $anchor-color !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    font-size: inherit !important;
    font-family: $font-family-sans !important;
    line-height: 1.5 !important;
    text-decoration: none;

    &:hover {
        background-color: inherit !important;
        color: $anchor-color !important;
        text-decoration: underline;
    }
}
