/*
 * Margin
 */

.m-b-2 { margin-bottom:   $gl-spacing-2; }

.m-b-3 { margin-bottom:   $gl-spacing-3; }
.m-l-3 { margin-left:     $gl-spacing-3; }

.m-l-4 { margin-left:     $gl-spacing-4; }

.m-t-5 { margin-top:      $gl-spacing-5; }
.m-b-5 { margin-bottom:   $gl-spacing-5; }

.m-t-6 { margin-top:      $gl-spacing-6; }
.m-b-6 { margin-bottom:   $gl-spacing-6; }

.m-t-7 { margin-top:      $gl-spacing-7; }
.m-b-7 { margin-bottom:   $gl-spacing-7; }

.m-t-8 { margin-top:      $gl-spacing-8; }
.m-b-8 { margin-bottom:   $gl-spacing-8; }

.m-t-9 { margin-top:      $gl-spacing-9; }
.m-b-9 { margin-bottom:   $gl-spacing-9; }

/*
 * Padding
 */

.p-a-0 { padding:          0; }
.p-t-0 { padding-top:      0; }
.p-r-0 { padding-right:    0; }
.p-b-0 { padding-bottom:   0; }
.p-l-0 { padding-left:     0; }

.p-a-1 { padding:          $gl-spacing-1; }
.p-t-1 { padding-top:      $gl-spacing-1; }
.p-r-1 { padding-right:    $gl-spacing-1; }
.p-b-1 { padding-bottom:   $gl-spacing-1; }
.p-l-1 { padding-left:     $gl-spacing-1; }

.p-a-2 { padding:          $gl-spacing-2; }
.p-t-2 { padding-top:      $gl-spacing-2; }
.p-r-2 { padding-right:    $gl-spacing-2; }
.p-b-2 { padding-bottom:   $gl-spacing-2; }
.p-l-2 { padding-left:     $gl-spacing-2; }

.p-a-3 { padding:          $gl-spacing-3; }
.p-t-3 { padding-top:      $gl-spacing-3; }
.p-r-3 { padding-right:    $gl-spacing-3; }
.p-b-3 { padding-bottom:   $gl-spacing-3; }
.p-l-3 { padding-left:     $gl-spacing-3; }

.p-a-4 { padding:          $gl-spacing-4; }
.p-t-4 { padding-top:      $gl-spacing-4; }
.p-r-4 { padding-right:    $gl-spacing-4; }
.p-b-4 { padding-bottom:   $gl-spacing-4; }
.p-l-4 { padding-left:     $gl-spacing-4; }

.p-a-5 { padding:          $gl-spacing-5; }
.p-t-5 { padding-top:      $gl-spacing-5; }
.p-r-5 { padding-right:    $gl-spacing-5; }
.p-b-5 { padding-bottom:   $gl-spacing-5; }
.p-l-5 { padding-left:     $gl-spacing-5; }

.p-a-6 { padding:          $gl-spacing-6; }
.p-t-6 { padding-top:      $gl-spacing-6; }
.p-r-6 { padding-right:    $gl-spacing-6; }
.p-b-6 { padding-bottom:   $gl-spacing-6; }
.p-l-6 { padding-left:     $gl-spacing-6; }

.p-a-7 { padding:          $gl-spacing-7; }
.p-t-7 { padding-top:      $gl-spacing-7; }
.p-r-7 { padding-right:    $gl-spacing-7; }
.p-b-7 { padding-bottom:   $gl-spacing-7; }
.p-l-7 { padding-left:     $gl-spacing-7; }

.p-a-8 { padding:          $gl-spacing-8; }
.p-t-8 { padding-top:      $gl-spacing-8; }
.p-r-8 { padding-right:    $gl-spacing-8; }
.p-b-8 { padding-bottom:   $gl-spacing-8; }
.p-l-8 { padding-left:     $gl-spacing-8; }

.p-a-9 { padding:          $gl-spacing-9; }
.p-t-9 { padding-top:      $gl-spacing-9; }
.p-r-9 { padding-right:    $gl-spacing-9; }
.p-b-9 { padding-bottom:   $gl-spacing-9; }
.p-l-9 { padding-left:     $gl-spacing-9; }

.p-a-10 { padding:        $gl-spacing-10; }
.p-t-10 { padding-top:    $gl-spacing-10; }
.p-r-10 { padding-right:  $gl-spacing-10; }
.p-b-10 { padding-bottom: $gl-spacing-10; }
.p-l-10 { padding-left:   $gl-spacing-10; }
